.art {
  background: url(../images/bg-pattern-circles.svg),
    linear-gradient(
      90deg,
      $veryDarkGrayBlueGradient 0%,
      $veryDarkDesaturatedBlue 100%
    );
  background-repeat: no-repeat;
  background-position: bottom left;
  border-radius: 0 100px 0 100px;

  .art__row {
    @include grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;

    img {
      display: block;
      width: 100%;
      margin: -75px 0;
    }

    .art__row-col {
      @include flex-column;
      justify-content: center;
      gap: 40px;

      h2,
      p {
        color: $white;
      }
    }
  }
}
